.card-product {
  overflow: hidden;
  height: 250px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 30px;
  position: relative;
}

.card-product img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  line-height: 1.1;
}

.card-title {
  font-weight: 700;
}

.card-author {
  font-style: italic;
}

.dates-info p {
  line-height: 0.4;
}

.booking-table {
  padding-bottom: 100px;
}

.availability-status {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
